.CartIcon {
    display: none;
    @media(min-width: 768px) {
        display: block;
        position: relative;
        .icon {
            width: 40px;
            margin-top: 5px;
            @media(min-width: 576px) {
                margin-left: 10px;
            }
        }
        .itemCount {
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 22px;
            height: 24px;
            position: absolute;
            text-align: center;
            left: 30px;
            top: 5px;
            @media(min-width: 576px) {
                width: 27px;
                height: 27px;
                left: 35px;
                top: 2px;
            }
        }
    }
    
}

