.SignUpPage {
    .header {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 20px;
    }
    .login-section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .form {
            width: 80%;
        }
        @media(min-width: 576px) {
            .form {
                width: 45%;
            }
        }
    }
}