.Header nav {
    height: 85px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
    .username {
        color: #ff9a76;
        font-weight: 500;
    }
    .collapse {
        position: relative;
    }
    &.bg-light {
        background-color: #fff!important;
    }
    .navbar-brand {
        font-size: 25px;
        font-family: 'Shadows Into Light Two', cursive;
        padding: 5px 10px;
        cursor: pointer;
    }
    li {
        cursor: pointer;
    }
}