.CustomButton {
    @mixin authButtons {
        padding: 15px;
        font-size: 20px;
        margin: 10px;
        font-weight: 500;
        border-radius: 0;
    }
    .btn-light {
        &.google {
            background-color: #e8505b;
            color: white;
            width: 50%;
            @include authButtons()
        }
        &.fb {
            background-color: #1b6ca8;
            color: white;
            width: 50%;
            @include authButtons
 
        }
        &.signin {
            background-color: #100303;
            color: white;
            width: 40%;
            padding: 10px;
            font-size: 20px;
            margin: 10px 0;
            border-radius: 0;
        }
    }
    
}